# Folders to exclude
.github/
.vscode/
test/
.vscode-test/
.vscode-test-*/
.vscode-test-user-data/
dist/
lib/
build/
coverage/
.nyc_output/
.sourcemaps/
.cache/
.temp/
src/
node_modules/


# Files to exclude
.gitignore
.gitattributes
*.vsix
*.log
.env
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.code-workspace
*.pem
*.key
esbuild.js


# Specific files/folders that should not be included
images/placeholder-*